* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');
@import 'breakpoints';
$font-base-family-1: 'Barlow';
$font-base-family-2: 'Barlow Condensed';
$font-base-family-3: 'Bellefair';


$font-size-v1: 9.375rem; //150px
$font-size-v2: 6.25rem; //100px
$font-size-v3: 5rem; //80px
$font-size-v4: 3.5rem; //56px
$font-size-v5: 2.5rem; //40px
$font-size-v6: 2rem; //32px
$font-size-v7: 1.75rem; //28px
$font-size-v8: 1.5rem; //24px
$font-size-v9: 1.25rem; //20px
$font-size-v10: 1.125rem; //18px
$font-size-v11: 1rem; //16px
$font-size-v12: .938rem; //15px
$font-size-v13: .875rem; //14px

$font-weight-400: 400;
$font-weight-700: 700;


$text-transfrom-upper: uppercase;
$text-transfrom-capitalize: capitalize;

$letter-spacing-1: 2.7px;

$color-very-dark: hsl(230, 33%, 7%);
$color-light-grayish-blue: hsl(231, 77%, 90%);
$color-white: hsl(0, 0%, 100%);
$color-opacity: .25;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


* {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

:focus {
    outline: none;
}

body {
    font-family: $font-base-family-1;
    // height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

// h1,
// h2,
// h3,
// h4 {
//     font-family: $font-base-family-3;
// }


li {
    list-style: none;
}

@mixin heroStyle {
    position: absolute;
    color: $color-white;
    text-align: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heroImage {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@mixin navbarHover {

    &::after {
        content: '';
        position: absolute;
        bottom: -100%;
        width: 0%;
        left: 0%;
        border-bottom: 3px solid $color-white;
        background: none;
        transition: .8s cubic-bezier(0.5, 1, 0.89, 1);
        display: block;
    }

    &:hover::after,
    &:focus::after {
        opacity: .5;
        width: 100%;
        border-bottom: 3px solid $color-white
    }

    &.active__link::after {
        width: 100%;
    }
}


@mixin heroImgPostion {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.6rem;
    color: $color-white;
    margin-top: 1rem;
    width: 100vw;
}

.hero-container {
    @include heroStyle;

    .hero-img {
        @include heroImage;
        height: 100vh;
        width: 100vw;
        background-image: url(../../asset/background-home-mobile.jpg);

        @include media('>=tablet') {
            background-image: url(../../asset/background-home-tablet.jpg);
        }

        @include media('>=smallDesktop') {
            background-image: url(../../asset/background-home-desktop.jpg);
        }
    }

    .space {
        position: absolute;
        margin-top: 2.5rem;
        width: 100vw;

        @include media('>=tablet') {
            margin: 0 auto;
            margin-top: 2rem;
        }

        @include media('>=smallDesktop') {
            padding: 0 2rem;
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            text-align: left
        }

        .space-desc {

            span {
                font-family: $font-base-family-2;
                font-size: $font-size-v11;
                letter-spacing: $letter-spacing-1;
                text-transform: $text-transfrom-upper;

                @include media('>largePhone') {
                    font-size: $font-size-v9;
                }
            }

            h1 {
                font-family: $font-base-family-3;
                text-transform: $text-transfrom-upper;
                font-size: $font-size-v3;
                line-height: 90px;
                padding: 0;
                font-weight: $font-weight-400;

                @include media('>=tablet') {
                    font-size: $font-size-v1;
                    line-height: 180px;
                    margin-top: 2rem;
                }
            }

            p {

                font-family: 'Barlow Condensed';
                font-size: $font-size-v12;
                line-height: 25px;
                padding: 0 1.3rem;

                @include media('>=tablet') {
                    font-size: $font-size-v10;
                    margin: 0 auto;
                    width: 445px;
                    padding: 2rem 0;
                }
            }
        }

        .large-btn {
            font-family: $font-base-family-3;
            text-transform: $text-transfrom-upper;
            font-size: $font-size-v9;
            color: $color-very-dark;
            font-weight: $font-weight-400;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            z-index: 1;
            background-color: $color-white;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin-top: 4rem;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                background-color: hsla(0, 0%, 100%, 0.15);
                border-radius: 50%;
                transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
                transform: scale(1.4);
            }

            @include media('>=tablet') {
                margin: 0;
                height: 250px;
                width: 250px;
                margin: 0 auto;
                font-size: $font-size-v6;
            }

            @include media('>smallDesktop') {
                margin: 0;
                height: 275px;
                width: 275px;
            }
        }
    }
}